# Global

.DS_Store
.env
*.log
*.sqlite3
__pycache__/
*.py[cod]

# Python (backend)
backend/__pycache__/
backend/*.pyc
backend/.venv/
backend/env/
backend/.env
backend/.pytest_cache/

# FastAPI / Uvicorn
*.db
uploads/

# Node (frontend)
frontend/node_modules/
frontend/.next/
frontend/package-lock.json
frontend/.env.local
frontend/.turbo/
frontend/.vercel/

# Docker
**/.docker/
**/.dockerignore

# VSCode
.vscode/
*.code-workspace

# Mac system files
Thumbs.db
ehthumbs.db
Icon?
__azurite_db_queue__.json
.gitignore
__azurite_db_queue_extent__.json
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__blobstorage__/AzuriteConfig
